*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
}

main{
    display: flex;
    gap: 0;
    align-items: center;
}

.options{
    height: 99vh;
    width: 20vw;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13%;
}

.action{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}

.help{
    margin-top: 15px;
}

button{
    width: 100px;
    font-size: large;
}

.gameplay-area{
    height: 99vh;
    width: 80vw;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.table{
    height: 80%;
    width: 99.8%;
    border: 2px solid greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deck{
    width: 150px;
    height: 250px;
    border: 2px solid blue;
    align-self: self-end;
    margin-right: 30px;
}

.hand{
    width: 600px;
    height: 200px;
    border: 2px solid blue;
    margin-top: 10px;
}

.message-board{
    height: 20%;
    width: 99.8%;
    border: 2px solid blue;
}